  <footer class="text-center footer py-3{% if page.url == '/' %} text-white{% else %} mt-auto{% endif %}">
    <div class="container">
      <a href="mailto:abtech@andrew.cmu.edu" class="user-select-all">abtech@andrew.cmu.edu</a> |
      <a href="tel:+14122682104" class="user-select-all">412.268.2104</a> |
      <a href="https://www.facebook.com/cmuabtech" target="_blank">
      <img src="{{ '/assets/img/fb.png' | relative_url }}" width="18">
      </a>
      <br>
      <span class="user-select-all" >CUC Box 73 | 5032 Forbes Ave | Pittsburgh, PA 15213</span> <br>
      "Fly by night sound and light" since 1973. <br>
      Copyright &copy; {{ 'now' | date: "%Y" }} AB Tech <br>
    </div>
  </footer>
