* { margin:0; padding:0; }

html, body {
    width:100%;
    height:100%;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;

    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    background: black;
}

#background > * {
    max-width: 25%;
}

#background > * > img {
    max-width: 25%;
}

canvas {
    display:block;
}
