html body{
    overflow-y: auto;
    padding: 0;
}
footer{
    color: #ccc;
    position: absolute;
    bottom: 0px;
}
.inner {
    padding: 20px;
}

.inner h1, h2, h3{
    font-weight:bold;
    color:#fff;
}

footer a{
  color: #ff8888;
}

.content-block b, strong{
    color: #fff;
}
.gradient-block {
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
    width:100%;
    height:60%;
    position:fixed;
    bottom:0px;
    z-index:-1;
}
@media only screen and (max-width: 767px) {
    .mobileFix{
      position: absolute;
      top: 60px;
    }
    footer{
      position: absolute;
      bottom: -30%;
    }
}
@media only screen and (max-width: 600px) {
    footer{
      position: absolute;
      bottom: -35%;
    }
}

.abtech {
    font:arial;
    font-weight: bold;
    font-size:60pt;
    color:#fff;
    position:absolute;
    top:15%;
    text-shadow:0 0 8px #000;
    margin:auto auto;
    left:0;
    right:0;
    opacity:0.5;
    text-transform:uppercase;
}

div#banner {
	width:100%;
	color:#fff;
	background-color: #cb0026;
	text-align:center;
	position:absolute !important;
	top: 0 !important;
	display:block !important;
}

div#banner a {
	color:#5577cc;
}

div#banner a:hover {
	color:#222288;
	cursor:pointer;
}

.halfBack {
  background-color: rgb(0, 0, 0, 1.0) !important;
  /*Change header to be completely opaque*/
}

.content-shift {
  top: 50px;
  bottom: 0;
  height: auto;
}

/*.background-image {
  z-index: -1;
  top:50px;
  display:block;
  width:100%;
  height:100%;
  position:fixed;
}
*/

.vegasSlides {
    position:fixed;
    z-index: -1;
}

.background-image img {
  height:100%;
  min-width: 100%;
  min-height:100%;
  position:absolute;
}

.index-content {
}

.index-card {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  width:60%;
  color: white;
  margin-bottom: 25vh;
  padding:20px;
  background-color:rgba(0,0,0,0.7);
  border-radius: 5px;
}

.index-card h1 {
  color:white;
  font-weight: bold;
  font-family: Helvetica;
}

.index-card-links {
  font-weight: bold;
}

footer {
  bottom: auto;
}

@media only screen and (max-width: 767px) {
  .index-card {
    margin-left: 10% !important;
    margin-right: 10% !important;
    width: 80% !important;
  }
}
