html body{
    height: 90vh;
    overflow-y: auto;
    padding: 0;
}
footer{
    color: #ccc;
    position: absolute;
    bottom: 0px;
}
.inner {
    padding: 20px;
}

.inner h1, h2, h3{
    font-weight:bold;
    color:#fff;
}

footer a{
  color: #ff8888;
}

.content-block b, strong{
    color: #fff;
}
.gradient-block {
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
    width:100%;
    height:60%;
    position:absolute;
    bottom:0px;
    z-index:-1;
}
@media only screen and (max-width: 767px) {
    .mobileFix{
      position: absolute;
      top: 60px;
    }
    footer{
      position: absolute;
      bottom: -30%;
    }
}
@media only screen and (max-width: 600px) {
    footer{
      position: absolute;
      bottom: -35%;
    }
}

.abtech {
    font:arial;
    font-weight: bold;
    font-size:60pt;
    color:#fff;
    position:absolute;
    top:15%;
    text-shadow:0 0 8px #000;
    margin:auto auto;
    left:0;
    right:0;
    opacity:0.5;
    text-transform:uppercase;
}

div#banner {
	width:100%;
	color:#fff;
	background-color: #cb0026;
	text-align:center;
	position:absolute !important;
	top: 0 !important;
	display:block !important;
}

div#banner a {
	color:#5577cc;
}

div#banner a:hover {
	color:#222288;
	cursor:pointer;
}
