html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    position: relative;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 12pt;
    line-height: 1.5;
    min-height: 450px;
    background: #ebeeed;
    /*background: black;*/
}

.navbar-collapse li {
    text-align: right;
}

.navbar-collapse {
    float: right;
    background-color: #f8f8f8;
}

.container-fluid {
    background: transparent;
}

.navbar-default {
    background: transparent;
    border-color: transparent;
}

.navbar-header {
    background-color: #f8f8f8;
}

.navbar-nav {
    background-color: #f8f8f8;
}

.content-block {
    background: #FFFFFF;
}

.navbar-text {
    float: left;
}

.navbar-collapse .rightmost {
    margin-right: 25px;
}

.navbar-collapse.in .rightmost, .navbar-collapse.collapsing .rightmost {
    margin-right: 0px;
}



.hot-table {
    border: 1px solid #990000;
    align: center;
    padding: 4px;
}

.hot-table td {
    border: 1px solid #990000;
    vertical-align: top;
    text-align: center;
}

.hot-table th {
    border: 1px solid #990000;
    vertical-align: top;
    text-align: center;
    background-color: #990000;
    color: #ffffff;
    font-weight: 600;
}

.normal-content {
    padding-top: 100px;
}

.title-header {
    height: 35px;
    margin-bottom: 15px;
}

.title-header a {
    padding: 5px;
    color: grey;
    display: inline-block;

}

.title-header .current {
    font-weight: 600;
    color: red;
    /*background: red;*/
}

footer {
    margin-top: 25px;
    margin-bottom: 10px;
    width: 100%;
}
.container {
    width:100%;
    padding-left: 0px;
    padding-right: 0px;
}

.galleria-container {
    width: 100%;
    background: black;
}

/* desktop */
@media only screen and (min-width: 768px) {
    .galleria {
    width: 700px;
    height: 400px;
    margin: 0 auto;
    margin-top: 75px;
}

    #logo {
        position: absolute;
        top: -20px;
        left: 100px;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        padding-top: 30px;
        padding-left:10px;
        background: white;
        border: 2px solid black;
    }

    #logo img {
        width: 100px;
        height: 60px;
    }

    .content-block {
        background: #FFFFFF;
        border-bottom: solid 1px #c7c9c8;
        margin-top: 30px;
        padding: 15px;
    }

    .index.content-block {
        margin-top: 30px;
    }

    .navbar-collapse {
        width: 110%;
    }

    .quick-links {
        background: #FFFFFF;
        border-bottom: solid 1px #c7c9c8;
        margin-top: 30px;
        padding: 15px;
        padding-top: 0px;
    }

    /*#buttons .lead-emphasis {*/
        /*font-size: 32px;*/
    /*}*/

    /*#buttons {*/
        /*display: inline-block;*/
        /*padding: 50px 100px 0px 100px;*/
        /*margin-top: 25px;*/
    /*}*/
}

/* mobile  */
@media only screen and (max-width: 767px) {
    .galleria {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    margin-top: 75px;
}
     #logo {
        position: absolute;
        top: -10px;
        left: 25px;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        padding-top: 23px;
        padding-left:5px;
        background: white;
        border: 2px solid black;
    }

    #logo img {
        width: 75px;
        height: 45px;
    }


    .content-block {
        padding: 15px 20px;
    }

    .index.content-block {
        margin-top: 40px;
    }

    .navbar-collapse {
        width: 50%;
    }

    .button {
        padding: 5px;
    }

    #buttons {
        margin-top: 75px;
    }

    #buttons .lead-emphasis {
        font-size: 20px;
    }

    #lead .container .row {
        margin-top: 30px;
        width: 100%;
    }

}
