html {
    height: 100%;
}

body {
    height: 100%;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #424b51;
    background: #ebeeed;
}

.navbar-collapse li {
    text-align: right;
}

.navbar-collapse {
    float: right;
    /*padding: 20px;*/
    background-color: #f8f8f8;
}

/* standard navbar */
@media (min-width: 768px) {
  .navbar-collapse {
      width: 100%;
  }
    #lead {
        padding-top: 50px;

    }
    #lead .container .row {
    position: absolute;
    top: 30%;
    width: 100%;
}
    #logo {
    position: absolute;
    top: -30px;
    left: 100px;
     /*float: left */
    padding-top: 40px;
    padding-left: 12px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: red;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.4);
}

    #logo img {
        width: 132px;
        height: 80px;
    }


}

/* mobile  */
@media (max-width: 767px) {
  .navbar-collapse {
      width: 50%;
  }
    #lead {
        padding-top: 15px;

    }
    #lead .container .row {
    margin-top: 30px;
    width: 100%;
    }

    #logo {
    position: absolute;
    top: -15px;
    left: 10px;
     /*float: left */
    padding-top: 20px;
    padding-left: 6px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: red;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);
}

    #logo img {
        width: 66px;
        height: 40px;
    }


}

.container-fluid {
    background: transparent;
}

.navbar-default {
    background: transparent;
    border-color: transparent;
}

.navbar-header {
    background-color: #f8f8f8;
}

.navbar-nav {
    background-color: #f8f8f8;
}


#lead {
    height: 90%;
    min-height: 450px;
    background-image: url('../img/backgrounds/background-2.jpg');
    background-color: #999999;
    /*background-size: 100%;*/
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#lead .container {
    height: 100%;
    position: relative;
}



#lead .lead-item {
    display: block;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin: 30px;
    padding: 30px;
    color: #FFFFFF;
    font-weight: 600;
    text-align: center;
    -webkit-transition: background-color 0.1s ease-out,
    color 0.1s ease-out;
    -moz-transition: background-color 0.1s ease-out,
    color 0.1s ease-out;
    -o-transition: background-color 0.1s ease-out,
    color 0.1s ease-out;
    transition: background-color 0.1s ease-out,
    color 0.1s ease-out;

}

#lead .lead-item:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #424b51;
    text-decoration: none;
}

#lead .lead-emphasis {
    font-size: 32px;
}

.content-block {
    background: #FFFFFF;
    border-bottom: solid 1px #c7c9c8;
    padding: 25px;
}

.index.content-block {
    margin-top: 15px;
}

.content-sidebar {
    background: #FFFFFF;
    border-bottom: solid 1px #c7c9c8;
    margin-top: 15px;
    padding: 65px 15px 15px 15px;
    position: relative;
}

.content-sidebar h1 {
    display: block;
    margin: 0;
    padding: 15px;
    font-size: 16px;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    top: 0;
    color: #FFFFFF;
    background: #424b51;
}

footer {
    background: #FFFFFF;
    margin-top: 30px;
    padding-top: 30px;
}

.normal-content {
    padding-top: 100px;
}

.navbar-collapse .rightmost {
    margin-right: 100px;
}

.navbar-collapse.in .rightmost, .navbar-collapse.collapsing .rightmost {
    margin-right: 0px;
}

.crew-header {
    text-align: justify;
}

.title-header {
    text-align: justify;
    /*margin-left: 30%;*/
    /*margin-right: 30%;*/
}

.title-header:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.title-header a {
    display: inline-block;
}

.title-header .current {
    font-weight: 600;
}

.hot-table {
    border: 1px solid #990000 ;
    align: center;
    padding: 4px;
}

.hot-table td {
	border: 1px solid #990000;
	vertical-align: top;
    text-align:center;
}

.hot-table th {
	border: 1px solid #990000;
	vertical-align: top;
    text-align:center;
    background-color: #990000;
    color: #ffffff;
    font-weight: 600;

}


