html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    position: relative;
    font-family: 'arial';
    font-size: 12pt;
    line-height: 1.5;
    min-height: 450px;
    background: #ebeeed;
}

h1, h2, h3 {
    margin: 5px 0px;
    font-family: 'georgia';
}
.galleria-container {
    background: black;
}

.galleria {
    margin: 50px auto 0px auto;
}

#logo {
    position: absolute;
    top: 5px;
    left: 50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#logo img {
    width: 80px;
    height: 40px;
}

.navbar-collapse {
    float: right;
    background-color: #f8f8f8;
}

.navbar-collapse li {
    text-align: right;
    font-family: 'georgia';
}

.navbar-default {
    background: transparent;
    border-color: transparent;
}

.navbar-header, .navbar-nav {
    background-color: #f8f8f8;
}

.navbar-text {
    float: left;
}

.navbar-collapse .rightmost {
    margin-right: 25px;
}

.navbar-collapse.in .rightmost, .navbar-collapse.collapsing .rightmost {
    margin-right: 0px;
}

.index-block > div {
    padding: 10px;
    padding-top:12px;
    height: 100%;
}

.inner, .content-block {
    background: RGBA(255,255,255,0.82);
    border-bottom: solid 1px #c7c9c8;
    padding: 10px 10px;
}

.inner{
    min-height: 250px;
}

.center-block > .inner {
    text-align: justify;
}

.title-header {
    height: 35px;
    margin-bottom: 15px;
    border-bottom: 1px solid black;
    font-family: 'georgia';
}

.title-header a {
    padding: 5px;
    color: grey;
    display: inline-block;
}

.title-header .current {
    color: red;
}

table {
    margin: 0px auto;
}

.hot-table {
    border: 1px solid #990000;
    align: center;
    padding: 4px;
}

.hot-table td {
    border: 1px solid #990000;
    vertical-align: top;
    text-align: center;
}

.hot-table th {
    border: 1px solid #990000;
    vertical-align: top;
    text-align: center;
    background-color: #990000;
    color: #ffffff;
    font-weight: 600;
}

.alumni td {
    padding:4px;
}

.help-block {
    margin-bottom: -5px;
}

footer {
    margin-top: 15px;
    margin-bottom: 10px;
    width: 100%;
}

/* desktop */
@media only screen and (min-width: 768px) {

    .galleria {
        width: 700px;
        height: 425px;
    }
    .content-block {
        margin: 75px auto 0px auto;
        width: 80%;
        padding: 15px;
    }

    .navbar-collapse {
        width: 110%;
    }
}

/* mobile  */
@media only screen and (max-width: 767px) {
    .galleria {
        width: 90%;
        height: 300px;
    }

    .content-block {
        margin: 50px auto 0px auto;
        padding: 15px 20px;
    }

    .navbar-collapse {
        width: 50%;
    }

}
