// Custom variables for Boostrap

// Make primary buttons and links AB Tech red, not blue
$red:     #c20f2e;
$primary:      $red;

// Slow down carousel on honmepage
$carousel-transition-duration: 3s;

// Don't underline links
$link-decoration: none;
