@screen-fullnav-min: @screen-md-min;
@screen-mininav-min: @screen-sm-min;

html {
  height: 100%;
}
body {
  height: 100%;
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #424b51;
  background: #ebeeed;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  // margin-top: -50px;
  -webkit-transition: background-color 0.1s ease-out,
                      color 0.1s ease-out,
                      border-color 0.1s ease-out;
  -moz-transition:    background-color 0.1s ease-out,
                      color 0.1s ease-out,
                      border-color 0.1s ease-out;
  -o-transition:      background-color 0.1s ease-out,
                      color 0.1s ease-out,
                      border-color 0.1s ease-out;
  transition:         background-color 0.1s ease-out,
                      color 0.1s ease-out,
                      border-color 0.1s ease-out;

  color: #424b51;
  background-color: rgba(255,255,255,0.80);
  border-bottom: solid 1px #c7c9c8;

  /* top of screen bar on desktop */
  @media (min-width: @screen-mininav-min) {
    position: fixed;
    height: 120px;
    margin-top: -50px;
  }

  #logo {
    /* center the logo within header (on mobile) */
    margin: 0 auto;
    /* to center logo image */
    padding-top: 27px;
    padding-left: 3px;
    /* define small circle */
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: red;
    box-shadow: 3px 5px 5px rgba(0,0,0,0.4);

    /* horizontal layout on desktop */
    @media (min-width: @screen-mininav-min) {
      float: left;
      margin: 20px 0 0 0;
    }

    /* use a larger logo on large desktops */
    @media (min-width: @screen-fullnav-min) {
      margin: 0;
      padding-top: 40px;
      padding-left: 12px;
      width: 160px;
      height: 160px;
    }

    img {
      width: 100px;
      height: 60px;

      @media (min-width: @screen-fullnav-min) {
        width: 132px;
        height: 80px;
      }
    }
  }

  .container {
    padding-top: 20px;
    padding-bottom: 15px;
  }

  #header-expander {
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 15;

    button:hover {
      background-color: #CCCCCC;
    }
  }
}


nav.header-nav {
  position: relative;

  ul {
    list-style: none;  

    @media (min-width: @screen-mininav-min) {
      float: right;
      padding-left: 0;
      padding: 35px 0 0 0;
      margin-top: 30px;
      margin-bottom: 0;
    }
  }

  li {
    display: block;

    @media (min-width: @screen-mininav-min) {
      display: inline-block;
      float: none;
      position: relative;
      padding: 0;
      color: #424b51;
      font-weight: 600;
      -webkit-transition: text-shadow 0.1s ease-out;
      -moz-transition:    text-shadow 0.1s ease-out;
      -o-transition:      text-shadow 0.1s ease-out;
      transition:         text-shadow 0.1s ease-out;
    }

    @media (min-width: @screen-fullnav-min) {
      font-size: 18px;
    }

    a {
      color: #424b51;
      padding: 15px;

      @media (min-width: @screen-mininav-min) {
        padding: 30px 10px 20px 10px;
      }
    }

    a:hover {
      color: #424b51;
      text-decoration: none;
    }
  }

  li.heading {
    text-transform: uppercase;
    left: 12px; /* why is this not 10? */
    bottom: 30px;
    width: 0;
    overflow: visible;
  }
}

header.without-background {
  /* only drop the nav background in desktop layout */
  @media (min-width: @screen-mininav-min) {
    background: transparent;
    position: absolute;
    margin-top: 0;
    border-bottom: solid 1px transparent;
  }


  .header-nav {
    /* only drop the nav background in desktop layout */
    @media (min-width: @screen-mininav-min) {
      li {
        color: #CCCCCC;
        text-shadow: none;
        text-shadow: 1px 1px rgba(0,0,0,0.4);

        a {
          color: #CCCCCC;
        }
        a:hover {
          color: #FFFFFF;
        }
      }
    }
  }
}

nav.header-nav.hidden-nav {
  @media (max-width: @screen-mininav-min) {
    display: none;
  }
}
.navbar-toggle .icon-bar {
  background-color: #424b51;
}
.navbar-toggle {
  border-color: #424b51;
}


#lead{
  height: 90%;
  min-height: 450px;
  background-image: url('/static/img/backgrounds/background-2.jpg');
  background-color: #999999;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 50px;

  @media (max-width: @screen-mininav-min) {
    height: 400px;
  }
}
#lead .container {
  height: 100%;
  position: relative;
}
#lead .container .row {
  position: absolute;
  bottom: 16%;
  width: 100%;
}
#lead .lead-item {
  display: block;
  background-color: transparent;
  border: 2px solid rgba(255,255,255,0.8);
  border-radius: 10px;
  
  color: #FFFFFF;
  font-weight: 600;
  text-align: center;
  -webkit-transition: background-color 0.1s ease-out,
                      color 0.1s ease-out;
  -moz-transition: background-color 0.1s ease-out,
                   color 0.1s ease-out;
  -o-transition: background-color 0.1s ease-out,
                 color 0.1s ease-out;
  transition: background-color 0.1s ease-out,
              color 0.1s ease-out;

  /* on small screens options like buttons */
  margin: 0;
  padding: 15px;

  /* with screen space display as boxes */
  @media (min-width: @screen-md-min) {
    margin: 30px;
    padding: 30px;
  }
}
#lead .lead-item:hover {
  background-color: rgba(255,255,255,0.8);
  color: #424b51;
  text-decoration: none;
}
#lead .lead-emphasis {
  font-size: 32px;
}



.content-block {
  background: #FFFFFF;
  border-bottom: solid 1px #c7c9c8;
  margin-top: 30px;
  padding: 15px;
}
.content-sidebar {
  background: #FFFFFF;
  border-bottom: solid 1px #c7c9c8;
  margin-top: 30px;
  padding: 65px 15px 15px 15px;
  position: relative;
}
.content-sidebar h1 {
  display: block;
  margin: 0;
  padding: 15px;
  font-size: 16px;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  top: 0;
  color: #FFFFFF;
  background: #424b51;
}

footer {
  background: #FFFFFF;
  margin-top: 30px;
  padding-top: 30px;

  @media (min-width: @screen-md-min) {
    .footer-center {
      text-align: center;
    }

    .footer-right {
      text-align: right;
    }
  }
}