{% load staticfiles %}
<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/404.css' %}">
</head>
<body>
    <div id="background">
        <div>
            <img src="{% static 'img/abtech_logo.png' %}"/>
            <h1>404: Warning</h1>
            <p>Strobes will be used extensively during tonight's performance.</p>
            <p>Click anywhere to return home.</p>
        </div>
    </div>
    <a href="{% url 'website:index' %}">
      <canvas id="canvas"></canvas>
    </a>
    <script src="{% static 'js/404.js' %}"></script>
</body>
</html>
