{% load staticfiles %}
<!-- <!DOCTYPE html> -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>

<head><title>AB Tech: Alumni</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

</head>
{% include "header.html" %}
{% include "sidebar.html" %}
<center>
<FONT SIZE=+2><b>Alumni</b></FONT>

<p>
If you are an AB Tech alumnus and you aren't listed here, or just want to get in touch, drop us a line
at <a href="mailto:alumni@abtech.org">alumni@abtech.org</a>.
</p>
<p>

Alumni should also be aware that a mailing list exists for their use. <br />
To join, visit <a href="http://abtech.org/mailman/listinfo/ghosts">http://abtech.org/mailman/listinfo/ghosts</a>.  Posts go to <a href="mailto:ghosts@abtech.org">ghosts@abtech.org</A>.
</p>

<p>
<table border="1" rules="rows" cellpadding="4" bordercolor="#990000">
    <tr>
        <td colspan="3" align="center" bgcolor="#990000" width="430"><FONT color="#FFFFFF"><b>Partial Alumni List</b></FONT></td>
    </tr>
    <tr>
        <td width="230">Samia Ahmed ('08-'12)</td>
        <td>[<a href="mailto:samiaa#andrew.cmu.edu">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Beth Albert</td>
        <td>[<a href="mailto:ealbert#andrew.cmu.edu">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Michael Amper ('86-'87)</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Julia Barry ('86-'90)</td>
        <td>[<a href="mailto:bjulz#aol.com">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Rachel "Purple" Bennett ('03-'07)</td>
        <td><!--srbennet--></td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Anu Bhooshan</td>
        <td>[<a href="mailto:abhoosha#andrew.cmu.edu">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Clara Bittner-Rossmiller</td>
        <td>[<a href="mailto:cbittner#andrew.cmu.edu">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Richard Bohn</td>
        <td><!--[<a href="mailto:rbohn#andrew.cmu.edu">mail</a>]--></td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Kyle Branigan</td>
        <td>[<a href="mailto:kbraniga#andrew.cmu.edu">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Elizabeth "Izzy" Buckser ('02-'06)</td>
        <td>[<a href="mailto:buckser@thornton.usc.edu">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Benjamin Buchwald</td>
        <td><!--[<a href="mailto:bb2#andrew.cmu.edu">mail</a>]--></td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Joe Burgess ('08-'12)</td>
        <td>[<a href="mailto:jmburges#abtech.org">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Charlie Butcosk ('00-'03)</td>
        <td>[<a href="mailto:cbutcosk@andrew.cmu.edu">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Mike Catelinet ('95-'99)</td>
        <td>[<a href="mailto:catelinm@hotmail.com">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Anthony Chivetta ('08-'12)</td>
        <td>[<a href="mailto:achivett#andrew.cmu.edu">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Katherine Crawford</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Evan Danaher</td>
        <td>[<a href="mailto:edanaher#andrew.cmu.edu">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Andrew Davenport ('94-'98)</td>
        <td>[<a href="mailto:adavenpo@snurgle.org">mail</a>]</td>
        <td>[<a href="http://www.snurgle.org/~adavenpo">web</a>]</td>
    </tr>
    <tr>
        <td width="230">Matthew Denton ('98-'02)</td>
        <td>[<a href="mailto:msd@abtech.org">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Isaac Dekine</td>
        <td width="40">[<a href="mailto:idekine#andrew.cmu.edu">mail</a>]</td>
        <td width="40"></td>
    </tr>
    <tr>
        <td width="230">Adrian Drury ('94-'00)</td>
        <td>[<a href="mailto:drury@andrew.cmu.edu">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Nathan Dushman ('98-'03)</td>
        <td>[<a href="mailto:nhd@abtech.org">mail</a>]</td>
        <td>[<a href="http://www.andrew.cmu.edu/~nhd">web</a>]</td>
    </tr>
    <tr>
        <td width="230">Blake Dvorchik</td>
        <td><!--[<a href="mailto:bud#andrew.cmu.edu">mail</a>]--></td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Eric Faden</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Esther "Moose" Filderman</td>
        <td>[<a href="mailto:moose#abtech.org">mail</a>]</td>
        <td>[<a href="http://www.contrib.andrew.cmu.edu/~moose">web</a>]</td>
    </tr>
    <tr>
        <td width="230">Phil Fong</td>
        <td>[<a href="mailto:pwf@andrew.cmu.edu">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Jim Foraker</td>
        <td>[<a href="mailto:jf6b#andrew.cmu.edu">mail</a>]</td>
        <td>[<a href="http://www.andrew.cmu.edu/~jf6b">web</a>]</td>
    </tr>
    <tr>
        <td width="230">Tyler Fox ('08-'12)</td>
        <td>[<a href="mailto:tmfox#abtech.org">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Vinny Furia ('99-'01)</td>
        <td>[<a href="mailto:vmf@abtech.org">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Carla Geisser</td>
        <td>[<a href="mailto:cgeisser#abtech.org">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">David Gianforte ('08-'11)</td>
        <td>[<a href="mailto:dgianfor#andrew.cmu.edu">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Amanda Gobaud ('08-'12)</td>
        <td>[<a href="mailto:agobaud#andrew.cmu.edu">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Brighten Godfrey</td>
        <td>[<a href="mailto:godfreyb@cmu.edu">mail</a>]</td>
        <td>[<a href="http://brighten.bigw.org/">web</a>]</td>
    </tr>
    <tr>
        <td width="230">Forest Godfrey ('95-'99)</td>
        <td>[<a href="mailto:fgodfrey@bigw.org">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Adam Goldsmith ('86-'91)</td>
        <td>[<a href="mailto:adam@fainsys.com">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Jeff Grafton ('04-'08)</td>
        <td>[<a href="mailto:jgrafton#gmail.com">mail</a>]</td>
        <td>[<a href="http://www.abtech.org/~jgrafton/">web</a>]</td>
    </tr>
    <tr>
        <td width="230">Larry Greenfield</td>
        <td>[<a href="mailto:leg@andrew.cmu.edu">mail</a>]</td>
        <td>[<a href="http://www.contrib.andrew.cmu.edu/~leg/">web</a>]</td>
    </tr>
    <tr>
        <td width="230">Alison Greenwald ('97-'01)</td>
        <td>[<a href="mailto:alison#abtech.org">mail</a>]</td>
        <td>[<a href="http://alison.abtech.org/personal">web</a>]</td>
    </tr>
        <tr>
                <td width="230">Mark Hamill</td>
                <td>[<a href="mailto:hamillm@mac.com">mail</a>]</td>
                <td></td>
        </tr>
    <tr>
        <td width="230">Bill Hammerschlag ('79-'83)</td>
        <td>[<a href="mailto:whammer@dcccd.edu">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Nick Harper ('07-'11)</td>
        <td>[<a href="mailto:nharper#andrew.cmu.edu">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">James Hays-Wehle</td>
        <td>[<a href="mailto:jhaysweh#andrew.cmu.edu">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Ben Henty ('97-'99)</td>
        <td>[<a href="mailto:henty@abtech.org">mail</a>]</td>
        <td>[<a href="http://www.ee.vt.edu/~bhenty/">web</a>]</td>
    </tr>
    <tr>
        <td width="230">Bryan Hinch</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td width="230">William Holtz ('97-'00)</td>
        <td>[<a href="mailto:holtz@abtech.org">mail</a>]</td>
        <td>[<a href="http://www.willholtz.com">web</a>]</td>
    </tr>
    <tr>
        <td width="230">Fred Hopke ('99-'01)</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Jimmy Hresko</td>
        <td>[<a href="mailto:jhresko#andrew.cmu.edu">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Katie Humbert</td>
        <td>[<a href="mailto:khumbert#andrew.cmu.edu">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Jared Incorvati</td>
        <td>[<a href="mailto:jincorva#andrew.cmu.edu">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Carmen Jackson ('03-'07)</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td width="230">John Ketchpaw</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Ross Kinder</td>
        <td>[<a href="mailto:rkinder#andrew.cmu.edu">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Adam "Muffin" Kramer</td>
        <td>[<a href="mailto:adk#abtech.org">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Samantha Lipson ('03-'07)</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Anand Marathe ('98-'00)</td>
        <td>[<a href="mailto:avm#abtech.org">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Chris Marshal</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Teddy Martin ('07-'11)</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Naeem Martinez-White ('08-'12)</td>
        <td>[<a href="mailto:naeemm#andrew.cmu.edu">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Ben Matzke ('07-'11)</td>
        <td>[<a href="mailto:bmatzke#andrew.cmu.edu">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Fred Merkle ('99-'04)</td>
        <td>[<a href="mailto:fnm#abtech.org">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Jason Meyers ('07-'10)</td>
        <td>[<a href="mailto:jrmeyers#abtech.org">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Kevin Milans</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Gena "Spike" Miller ('01-'06)</td>
        <td>[<a href="mailto:miller.gena#gmail.com">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Kevin Miller ('98-'01)</td>
        <td>[<a href="mailto:kevinm#abtech.org">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Andrew Moore</td>
        <td>[<a href="mailto:armoore#andrew.cmu.edu">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Peter Nelson</td>
        <td>[<a href="mailto:pnelson#andrew.cmu.edu">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Ros Neplokh ('98-'01)</td>
        <td>[<a href="mailto:neplokh#abtech.org">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Maya Nigrosh</td>
        <td>[<a href="mailto:mnigrosh#andrew.cmu.edu">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Hallie Parry</td>
        <td><!--[<a href="mailto:hparry#andrew.cmu.edu">mail</a>]--></td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Anand Patel</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Saagar Patel</td>
        <td>[<a href="mailto:saagarp#saagarpatel.com">mail</a>]</td>
        <td>[<a href="http://saagarpatel.com/">web</a>]</td>
    </tr>
    <tr>
        <td width="230">Adam Pennington</td>
        <td>[<a href="mailto:adamp#abtech.org">mail</a>]</td>
        <td>[<a href="http://coed.org">web</a>]</td>
    </tr>
    <tr>
        <td width="230">Kevin Perry</td>
        <td></td>
        <td></td>
    </tr>
        <tr>
        <td width="230">Hunter Pitelka ('07-'11)</td>
        <td>[<a href="mailto:hpitelka#abtech.org">mail</a>]</td>
        <td>[<a href="http://hunterpitelka.com">web</a>]</td>
    </tr>
    <tr>
        <td width="230">Harrison Price</td>
        <td>[<a href="mailto:hprice#andrew.cmu.edu">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Warren Pryde</td>
        <td>[<a href="mailto:wpryde#andrew.cmu.edu">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Tim Reid</td>
        <td>[<a href="mailto:treid#abtech.org">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Mickey Reiss ('08-'12)</td>
        <td>[<a href="mailto:mreiss#abtech.org">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Tim Renshaw</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Meg Richards</td>
        <td>[<a href="mailto:merichar#andrew.cmu.edu">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Jonathan "jonnewbie" Robinson</td>
        <td>[<a href="mailto:jmrobins#abtech.org">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Lincoln Roop ('07-'11)</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Matt Schnall ('07-'11)</td>
        <td>[<a href="mailto:mischnal#andrew.cmu.edu">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Matt Sheby ('95-'99)</td>
        <td><!-- [Too lame for e-mail] --></td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Michael Sibley ('07-'11)</td>
        <td>[<a href="mailto:msibley#andrew.cmu.edu">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Rob Siemborski ('98-'04)</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Matt Silverstein ('96-'00)</td>
        <td>[<a href="mailto:mas2@abtech.org">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Joseph Slade</td>
        <td>[<a href="mailto:jslade#andrew.cmu.edu">mail</a>]</td>
        <td></td>
    </tr>
                <tr>
                <td width="230">Barrie Slaymaker</td>
                <td>[<a href="mailto:barries#slaysys.com">mail</a>]</td>
                <td>[<a href="http://slaysys.com/">web</a>]</td>
        </tr>
    <tr>
        <td width="230">Jen Smith</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Michael Sokolsky</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Teddy Sosna ('07-'11)</td>
        <td>[<a href="mailto:esosna#andrew.cmu.edu">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Lindsay Spriggs</td>
        <td><!--[<a href="mailto:lspriggs#andrew.cmu.edu">mail</a>]--></td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Ben Stolt</td>
        <td>[<a href="mailto:bstolt@abtech.org">mail</a>]</td>
    </tr>
    <tr>
        <td width="230">David Stonestrom ('07-'11)</td>
        <td>[<a href="mailto:dstonest#andrew.cmu.edu">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Tom Strong ('89-'92)</td>
        <td>[<a href="mailto:strong@dementia.org">mail</a>]</td>
        <td>[<a href="http://www.tomstrong.org">web</a>]</td>
    </tr>
    <tr>
        <td width="230">Tim Stoudt ('97-'01)</td>
        <td>[<a href="mailto:timstoudt@onebox.com">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Susan Swithenbank ('96-'00)</td>
        <td>[<a href="mailto:susans@abtech.org">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Ryan Tanker</td>
        <td>[<a href="mailto:rtanker#andrew.cmu.edu">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Mathew "Other" Theisz</td>
        <td>[<a href="mailto:mtheisz#abtech.org">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Wyatt Tilka ('07-'11)</td>
        <td>[<a href="mailto:wdt#andrew.cmu.edu">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Rob "Floyd" Timmerman</td>
        <td>[<a href="mailto:rtimmerm#andrew.cmu.edu">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Scott Tietjen ('78-'82)</td>
        <td>[<a href="mailto:stjen@acm.org">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Gilman Tolle ('01-'02)</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Chris Tuttle ('01-'03)</td>
        <td>[<a href="mailto:clt#abtech.org">mail</a>]</td>
        <td>[<a href="http://www.cse.ucsd.edu/%7ectuttle/">web</a>]</td>
    </tr>
    <tr>
        <td width="230">Thomas Tuttle ('07-'11)</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Alex Volkovitsky</td>
        <td>[<a href="mailto:avolkovi#andrew.cmu.edu">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Michael "Park" Wang</td>
        <td>[<a href="mailto:shunliw#andrew.cmu.edu">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Bryan Ward</td>
        <td>[<a href="mailto:bward#andrew.cmu.edu">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Megin Wardle ('97-'01)</td>
        <td>[<a href="mailto:mcw#abtech.org">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Alex Wetmore ('91-'96)</td>
        <td></td>
        <td>[<a href="http://www.phred.org/~alex">web</a>]</td>
    </tr>
    <tr>
        <td width="230">Andrew Widdowson</td>
        <td>[<a href="mailto:apw2#abtech.org">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Matt Williamson ('04-'08)</td>
        <td>[<a href="mailto:tartanfirebird#gmail.com">mail</a>]</td>
        <td></td>
    </tr>
    <tr>
        <td width="230">Greg Zearfoss</td>
        <td></td>
        <td></td>
    </tr>
</table>
</center>

{% include "footer.html" %}
