{% load staticfiles %}
<!DOCTYPE html>
<html>

<head><title> AB Tech: {% block title %}  {% endblock %}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{% static 'img/favicon.ico' %}">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <link rel="stylesheet" type="text/css" href="{% static 'css/updatedStyle.css' %}">


  <!-- Bootstrap core JavaScript
     ================================================== -->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="{% static 'bootstrap/js/ie10-viewport-bug-workaround.js' %}"></script>
  {% block includes %}
  {% endblock %}
  {% block style %}{% endblock %}
</head>

<body>
{% include "header.html" %}

{% block content-container %}
  <main class="content-block">
      {% block content %}{% endblock %}
  </main>
{% endblock %}

{% include "footer.html" %}
{% block script %}{% endblock %}
</body>
</html>
