{% load staticfiles %}

<!doctype html>
<html>
    <head>
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/galleria/galleria-1.4.2.min.js' %}"></script>
      <style>
    .galleria{ width: 700px; height: 400px; }
</style>
    </head>
    <body>
    <div class="galleria">
        <li>
            <img src="{% static 'img/backgrounds/background-2.jpg' %}">
            <p>My caption is <strong>gr8</strong></p>
        </li>
        <li>
            <img src="{% static 'img/backgrounds/background-3.jpg' %}">
            <p>My other caption is also <em>gr8</em></p>
        </li>
    </div>
    <script>
{#      if (Galleria) { $("body").text('Galleria works') }#}
Galleria.loadTheme("{% static 'js/galleria/themes/classic/galleria.classic.min.js' %}");
    Galleria.run('.galleria', {
    autoplay: 1000 // will move forward every 7 seconds
});
    </script>
    </body>
</html>