</td></tr>

<tr height="4" bgcolor="#990000">
  <td height="4" colspan="5" bgcolor="#990000"></td>
</tr>

<tr>
  <td colspan="5" align="center">
    <FONT size=-1>
      Copyright &copy; {% now "Y" %} AB Tech<br/>
      (412) 268 - 2104 &mdash;
      <a
          href="&#109;&#x61;&#x69;&#x6c;&#116;&#111;&#x3a;&#x61;&#98;&#116;&#x65;&#99;&#104;&#x40;&#x61;&#x6e;&#100;&#x72;&#101;&#x77;&#46;&#x63;&#109;&#x75;&#x2e;&#101;&#100;&#117;">
        &#x61;&#98;&#116;&#x65;&#99;&#104;&#x40;&#x61;&#x6e;&#100;&#x72;&#101;&#x77;&#46;&#x63;&#109;&#x75;&#x2e;&#101;&#100;&#117;</a><br/>
      <a href="http://facebook.com/cmuabtech"><img src="static/img/facebook.png"
                                                   style="border:none"></a>
      &nbsp;&nbsp;
      <a href="http://twitter.com/abtech"><img src="static/img/twitter.png"
                                               style="border:none"></a>

    </font>

  </td>
</tr>
</table>

</font>
</body>
</html>
