{% load staticfiles %}
<footer>
  <div class="container">
    <div class="col-md-3">
      <p>Find us on:</p>

      <p>Facebook</p>

      <p>Twitter</p>
    </div>
    <div class="col-md-6">
      <p class="text-center">"Fly by night sound and light" since 1973.</p>

      <p class="text-center">A special committee of the <a href="http://activitiesboard.org/">Carnegie Mellon Activities
        Board.</a></p>

      <p class="text-center"> Copyright &copy; {% now "Y" %} AB Tech </p>
    </div>
    <div class="col-md-3">
      <p class="text-right">Contact us by request form or:</p>

      <p class="text-right">(412) 268 - 2104</p>

      <p class="text-right">abtech@andrew.cmu.edu</p>
    </div>
  </div>

</footer>

<!-- Bootstrap core JavaScript
   ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{% static 'bootstrap/js/ie10-viewport-bug-workaround.js' %}"></script>

<script type="text/javascript">
  // decide if we should give the header a background
  var set_header_type = function () {
    var scroll_position = $(document).scrollTop();
    if (scroll_position < 50) {
      $('header').removeClass("with-background");
    } else {
      $('header').addClass("with-background");
    }
  };

  // set header type at document start
  set_header_type();
  // and on all scroll events
  $(document).scroll(function () {
    set_header_type();
  });
</script>

</body>
</html>
