{% load staticfiles %}
<footer>
  <div class="container">
    <div class="col-md-3">
      <p>Find us on:</p>

      <p>Facebook</p>

      <p>Twitter</p>
    </div>
    <div class="col-md-6">
      <p class="text-center">"Fly by night sound and light" since 1973.</p>

      <p class="text-center">A special committee of the <a href="http://activitiesboard.org/">Carnegie Mellon Activities
        Board.</a></p>

      <p class="text-center"> Copyright &copy; {% now "Y" %} AB Tech </p>
    </div>
    <div class="col-md-3">
      <p class="text-right">Contact us by request form or:</p>

      <p class="text-right">(412) 268 - 2104</p>

      <p class="text-right">abtech@andrew.cmu.edu</p>
    </div>
  </div>

</footer>

</body>
</html>
