{% load staticfiles %}

<div class="halfBack back navbar navbar-default navbar-fixed-top">
  <a href="{% url 'website:index' %}">
    <div id="logo">
      <img id="logoImage" src="{% static 'img/abtech_logo.png' %}" alt="AB Tech Logo">
    </div>
  <div id="debug">
    {% if debug %}
    DEBUG
    {% endif %}
  </div>
</a>
  <div class="container-fluid">
    <div class="halfBack navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="noBack back collapse navbar-collapse" id="navbar1">
      <ul id='white' class="noBack back nav navbar-nav navbar-right">
        <li><a href="{% url 'website:events' %}">Our Events</a></li>
        <li><a href="{% url 'website:request' %}">Request Event</a></li>
        <li class="dropdown"><a href="{% url 'website:services' %}" role="button" aria-haspopup="true" aria-expanded="false">What We Do</a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'website:services' %}">Services</a></li>
            <li><a href="{% url 'website:equipment' %}">Equipment</a></li>
            <li><a href="{% url 'website:external' %}">External Resources</a></li>
          </ul>
        </li>
        <li><a href="{% url 'website:archives' %}">Past Events</a></li>
        <li class="dropdown"><a href="#" role="button" aria-haspopup="true" aria-expanded="false">Internal</a>
          <ul class="dropdown-menu">
            <li><a href="https://abtech.andrew.cmu.edu/tracker/" target="_blank">Tracker</a></li>
            <li><a href="https://www.abtech.org/wiki/" target="_blank">Wiki</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="{% url 'website:crew' %}" role="button" aria-haspopup="true" aria-expanded="false">People</a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'website:crew' %}">Current Crew</a></li>
            <li><a href="{% url 'website:hots' %}">HOTs</a></li>
            <li><a href="{% url 'website:alumni' %}">Alumni</a></li>
          </ul>
        </li>
        <li class="rightmost"><a href="{% url 'website:join' %}">Join</a></li>
      </ul>
    </div>

  </div>
</div>
