{% load staticfiles %}
<body>
<header>
  <div class="container">
    <div id="logo">
      <a href="{% url 'website:index' %}"><img src="{% static 'img/abtech-sketched.svg' %}" alt="AB Tech Logo"></a>
    </div>

    <div id="header-expander">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <nav class="header-nav">
      <ul>
        <li class="heading">Organizers</li>
        <li><a href="{% url 'website:request' %}">Request Event</a></li>
        <li><a href="{% url 'website:equipment' %}">Services + Equipment</a></li>
        <li><a href="{% url 'website:events' %}">Past Events</a></li>
        <li><a href="{% url 'website:crew' %}">People</a></li>
        <li class="heading">Members</li>
        <li><a href="https://tracker.abtech.org/">Tracker</a></li>
        <li><a href="https://www.abtech.org/wiki/">Wiki</a></li>
      </ul>
    </nav>

  </div>
  <!-- /.container -->
</header>
