{% load staticfiles %}

<div class="navbar navbar-default navbar-fixed-top">
  <div id="logo">
    <a href="{% url 'website:index' %}"><img src="{% static 'img/abtech-sketched.svg' %}" alt="AB Tech Logo"></a>
  </div>
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'website:request' %}">Request Event</a></li>
        <li><a href="{% url 'website:services' %}">Services + Equipment</a></li>
        <li><a href="{% url 'website:events' %}">Past Events</a></li>
        <li class="rightmost"><a href="{% url 'website:crew' %}">People</a></li>
      </ul>
    </div>
  </div>
</div>
