{% extends "base.html" %}
{% load staticfiles %}
{% load django_markdown %}

{% block title %} Home {% endblock %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'vegas/vegas.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content-container %}
  <div class="vegasSlides"></div>
  <div class="gradient-block"></div>
  <div class="spacer" height="50px"></div>
  <div class="index-content">
    <div class="spacer" style="height:20vh"></div>
    <div class="index-card">
      <h1> ABTech </h1>
      <p>
        The <b>Activities Board Technical Committee</b>, commonly known as <strong>AB&nbsp;Tech</strong>,
        is the production organization charged with handling the technical production of University sponsored
        events in and around Pittsburgh. We provide high quality, professional grade entertainment production
        services, including sound reinforcement, lighting design, and event management at heavily subsidized
        rates to the Pittsburgh community. Our clients include student groups, university faculty & administration,
        and various independent companies and other organizations. We coordinate associated needs and services such as
        multi-phase/high-load power, rigging & trussing, staging rentals, backline rentals, and more.
      </p>
      <div class="index-card-links">
        <a href="/services">Services</a>
        -
        <a href="/equipment">Equipment</a>
      </div>
    </div>
    <div class="index-card" style="opacity: 0.2">
      <h1> Request Event </h1>
      <p>
        If you would like to request our services to run an event, please fill out the form below.
        Our calendar is very tightly booked, but we will do the best to accomodate your request and
        will get back to you as soon as we can.
      </p>
      <div class="index-card-links">
        <a href="/events">Past Events</a>
      </div>
    </div>
    <div class="index-card" style="opacity: 0.2">
      <h1> Past Events </h1>
      <p>
        Take a look at some of our past events to see more about what we do.
      </p>
      <div class="index-card-links">
        <a href="/events">Past Events</a>
      </div>
    </div>
    <div class="index-card">
      <h1> People </h1>
      <p>
        ABTech requires significant organization, leadership, and skilled work from all of our members.
        If you would like to meet some of the people behind what we do, click through the links below.
      </p>
      <div class="index-card-links">
        <a href="/crew">Current Crew</a>
        -
        <a href="/hots">Heads of Tech</a>
        -
        <a href="/alumni">Alumni</a>
      </div>
    </div>
    <div class="index-card">
      <h1> Join </h1>
      <p>
        Are you a Carnegie Mellon student? Have we convinced you to join? If so,
        just follow the link below to join ABTech.
      </p>
      <div class="index-card-links">
        <a href="/join">Join</a>
      </div>
    </div>
    <div class="spacer" style="height:10vh"></div>
  </div>
{% endblock %}

{% block script %}
  <script src="{% static 'vegas/vegas.min.js' %}"></script>
  <script src="{% static 'js/index.js' %}"></script>
{% endblock %}
