{% extends "base.html" %}
{% load staticfiles %}
{% load django_markdown %}

{% block title %} Fly-by-Night Sound and Light {% endblock %}


{% block content-container %}

  <div class="container">

    <div class="row">
       <div class="col-sm-2"></div>
    <div id="buttons" class="col-sm-8">
        <div class="row">
            <div class="col-xs-4 button"><a class="lead-item" href="{% url 'website:request' %}"><span class="lead-emphasis">Request</span><br>
              an event</a>
            </div>
            <div class="col-xs-4 button"><a class="lead-item" href="{% url 'website:events' %}"><span  class="lead-emphasis">See</span><br>
              what we do</a></div>
            <div class="col-xs-4 button"><a class="lead-item" href="{% url 'website:join' %}"><span class="lead-emphasis">Become</span><br>
              a member</a>
            </div>
        </div>
      </div>
    </div>
   <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-8">
        <div class="index content-block">
          {{ raw_content|markdown }}
        </div>
      </div>
    </div>
  </div>

{% endblock %}
