{% extends "base.html" %}
{% load staticfiles %}

{% block title %} Fly-by-Night Sound and Light {% endblock %}


{% block content-container %}
  <section id="lead">
    <div class="container">
      <div class="row">
        <div class="col-md-4"><a class="lead-item" href="{%  url 'website:request' %}"><span class="lead-emphasis">Request</span><br> an event</a>
        </div>
        <div class="col-md-4"><a class="lead-item" href="{% url 'website:events' %}"><span class="lead-emphasis">See</span><br> what we can
          do</a></div>
        <div class="col-md-4"><a class="lead-item" href="{% url 'website:join' %}"><span class="lead-emphasis">Become</span><br> a member</a>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </section>
  <main>
    <div class="container">
      <div class="col-md-8">
        <div class="content-block">
          <p>The <strong>Activities Board Technical Committee</strong>, commonly known as <strong>AB&nbsp;Tech</strong>,
            is the student organization charged with handling the technical production of Carnegie Mellon sponsored
            events, including all events organized by the <a href="http://activitiesboard.org" target="_blank">Activities
              Board</a>. We provide high quality, professional grade entertainment production services, including sound
            reinforcement, lighting design, and event management at heavily subsidized rates to the Carnegie Mellon
            University community. Our clients include student groups, university faculty &amp; administration, and
            various independent companies and other organizations.</p>

          <p>AB Tech provides technical support in three core areas:</p>
          <ul>
            <li>Sound Reinforcement</li>
            <li>Lighting Design</li>
            <li>Production Consulting &amp; Event Management</li>
          </ul>
          <p>In addition to these three areas, we coordinate associated needs and services such as multi-phase/high-load
            power, rigging &amp; trussing, staging rentals, backline rentals, and more.</p>

          <p>For more information on the services we offer, please <a href="{% url 'website:services' %}">click here</a>. Otherwise, use the menu
            on the left to navigate the site.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="content-sidebar">
          <h1>Facebook</h1>
          Some kind of side content.
        </div>
      </div>
    </div>
  </main>
{% endblock %}
