{% extends "base.html" %}
{% load staticfiles %}
{% load django_markdown %}
{% load bootstrap3 %}
{%  bootstrap_messages %}

{% block title %} Event Request {% endblock %}

{% block includes %}
<script type="text/javascript" src="{% static 'js/moment.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datepicker.min.css' %}">
<style type="text/css">
  @media screen and (min-width: 767px){
    .date{
      width: 400px;
    }
  }
  </style>
{% endblock %}

{% block content %}
  <h1> Event Request Form </h1>
  <p> Please refer to our <a href="https://tracker.abtech.org/events/calendar" target="_blank">calendar</a> for what dates we are available. <br> <br>
    We need to know the sponsoring organization (i.e. who will be paying for our services?), a contact name and email address. If you know the date, start time, and location of your event please provide those as well. If you have not finalized this information please provide a list of possible dates and times in the details section.  If your event will span multiple days please make a note of that in the Details section.
<br> <br>
    In the Details section, please describe your event in detail so we can provide the right equipment and staff.
</p>

  <form action="{% url 'website:request' %}" method="post" class="form-horizontal">
    {%  csrf_token %}
    {% for field in form %}
      {% if field.name == 'start_date' %}
        <div class="form-group">
            {{ field.errors }}
        <label class="col-md-3 control-label">{{ field.label }}</label> 
        <div class='col-md-9'>
            <div class="input-group date" id="{{ field.auto_id }}_cal">
              <input type="text" class="form-control" placeholder="Event Date" name="{{ field.html_name }}" id="{{ field.auto_id }}"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
            </div>
        </div>
            <script type="text/javascript">
                $(function () {
                    $('#{{ field.auto_id }}_cal').datepicker({
                      sideBySide: true,
                      autoclose: true
                    });
                });
            </script>
      {% else %}
        {% bootstrap_field field layout="horizontal" %}
      {% endif %}
    {% endfor %}
    {% buttons submit='Submit' layout='horizontal' %}{% endbuttons %}
  </form>
{% endblock %}

