{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{%  bootstrap_messages %}

{% block title %} Thanks! {% endblock %}

{% block content %}
Thanks for your event request! You should receive an automated email containing
your request within the next few minutes. If you don't, please email abtech@andrew.cmu.edu with the information below.
<br> <br>
Expect a reply within a couple of days; if you don't hear back from us within a
reasonable period of time, feel free to follow up with another email
(we get a lot of requests and occasionally one will be misfiled).
<br> <br>
<pre>
Event Name: {{ event_name }}
Organization: {{ organization }}
Event Contact: {{ contact }}
Email: {{ email }}
Date: {{ start_date|date:"SHORT_DATE_FORMAT" }}
Time: {{ start_time }}
Location: {{ location }}
Details:
{{ details }}
</pre>
{% endblock %}
