<td width="5">
</td>
<td width="200" height="500" valign="top">
 <table cellpadding=3 cellspacing=1>
    <tr><td align="left"><a href="/">Home</a>
    <br><font size=1>&nbsp;</font></td></tr>
    <tr><td align="left"><b>For Event Organizers</b></td></tr>
    <tr><td align="left"><a href={% url "website:services" %}>Our Services</a></td></tr>
    <tr><td align="left"><a href={% url "website:equipment" %}>Our Equipment</a></td></tr>
    <tr><td align="left"><a href={% url "website:contact" %}>Contact Us</a></td></tr>
    <tr><td align="left"><i><a href={% url "website:external" %}>External Links</a></i>
    <br><font size=1>&nbsp;</font></td></tr>
    <tr><td align="left"><b>For Students</b></td></tr>
    <tr><td align="left"><a href={% url "website:join" %}>Become a Member</a></td></tr>
    <tr><td align="left"><a href={% url "website:crew" %}>Current Crew</a></td></tr>
    <tr><td align="left"><a href={% url "website:hots" %}>Heads of Tech</a></td></tr>
    <tr><td aligh="left"><a href={% url "website:alumni" %}>Alumni</a></td></tr>
    <tr><td align="left"><a href={% url "website:events" %}>Past Events</a></td></tr>
    <tr><td align="left"><a href={% url "website:timelapse" %}>Timelapses</a></td></tr>
    <tr><td align="left"><a href={% url "website:accolades" %}>Accolades</a></td></tr>
    <tr><td align="left"><i><a href="https://tracker.abtech.org/">Tracker (Private)</a></i></td></tr>
    <tr><td align="left"><i><a href="https://www.abtech.org/wiki/">Wiki (Private)</a></i></td></tr>
 </table>
</td>

<td bgcolor="#990000" width="2"></td>

<td colspan="3" bgcolor="#FFFFFF" valign="top">
